@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}
body{ 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	width:1000px;
	margin:auto;
}
header{
	background-color:#62BDAB;
	color: aliceblue;
	padding: 5px;
	text-align:center;
}
nav{
	background-color:#93DCD0;
	text-align: center;
	float: left;
	width:100%;
	font-size: 15px;
}
a{
	display: block;
	background-color: #93DCD0;
	color: #195A5B;
	padding:5px;
	float: left;
}

a:hover {
	background-color: #A2D9E4;
	color:#FFFFFF;
}
div{
	display: block;
	background-color:#53A5AC;
	float: left;
	width: 150px;
	height: 500px;
}
article{
	width: 700px;
	height:500px;
	float: left;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	font-size: 18px;
}
footer{
	display: inline-block;
	background-color:#93DCD0;
	color: white;
	width: 100%;
	padding: 5px;
	text-align: center;
}

